#edit_task{
    font-family: Arial, sans-serif;
    font-size: 25px;
    font-weight: bold;
  
  }
  input[type=text], input[type=date],select {
    
    width: 100%;
    padding: 10px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  label{

    font-family: Arial, sans-serif;
  }

  #botao_cor1 {
    display: inline-block;
    padding: 10px 50px;
    margin: 0 auto;
    text-decoration: none;   
    background-color: rgb(4, 187, 13);
    color: #ffefef; 
    border: 1px solid #000000; 
    border-radius: 5px; 
  }

  #botao_cor2 {
    display: inline-block;
    padding: 10px 50px;
    margin: 0 auto;
    text-decoration: none;   
    background-color: rgb(223, 8, 8);
    color: #ffefef; 
    border: 1px solid #000000; 
    border-radius: 5px; 
  }
  .centralize{
    text-align: center;
}
 