#first_page{
  font-family: Arial, sans-serif;
  font-size: 15px;
  text-align: center;
}
#first_title{
  font-family: Arial, sans-serif;
  font-size: 30px;
  font-weight: bold;
  padding: 10px;
  padding-bottom: 20px;
}
  